@import "~bootstrap/scss/bootstrap.scss";
.Carta {
  border: 5rem solid green;
}
.Numero {
  padding-top: 15rem;
  padding-bottom: 15rem;
  margin: 0;
  text-align: center;
  padding-right: 5rem;
  padding-left: 5rem;
}
.Numero:before {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 2rem;
}
.Numero:after {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 2rem;
}
.Numero.Corazones::after,
.Numero.Corazones::before {
  content: "\2665";
  color: Red;
}
.Numero.Pica::after,
.Numero.Pica::before {
  content: "\2660";
  color: black;
}
.Numero.Trebol::after,
.Numero.Trebol::before {
  content: "\2663";
  color: black;
}
.Numero.Diamante::after,
.Numero.Diamante::before {
  content: "\2666";
  color: Red;
}
//.Numero.Corazones p {
//  color: Red;
//}
